body {
	background-color: #dcece9;
}

h1, h2, h3, h4, p, a, footer {
	font-family: 'Changa', sans-serif;
}

.parallax1 {
    background-image: url("../images/parallax1.jpg");

    height: 768px; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url("../images/parallax4.jpg");

    height: 768px; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    background-image: url("../images/parallax5.jpg");

    height: 768px; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-image {
	margin: 0 20px 20px 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #dcece9;
  z-index: 10;
}

.center-block {
	display: table;
	margin: auto;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	text-decoration-color: #006a66;
}

h1 {
	color: #006a66;
}

h2 {
	margin-top: 80px;
	text-align: center;
	color: #006a66;
}

p {
	font-size: 120%;
}

footer {
	background-color: #dcece9;
	border-top: 4px solid #006a66;
	padding: 30px;
	color: #006a66;
}

h3 {
	color: #006a66;
}

h4 {
	background-color: #71bbac;
	width: 300px;
	text-align: center;
	color: #006a66;
	margin-top: 40px;
	padding: 25px;
	position: relative;
	top: 0px;
}

#trivia-text {
	padding: 25px;
}

#burger-text {
	padding: 20px;
}

#ff-text {
	padding: 29px
}

.custom-btn {
	background-color: #4aaaa5;
}