body {
	background-color: #dcece9;
	box-sizing: border-box;
}

h1, h2, h3, h4, p, a, footer, .centered {
	font-family: 'Changa', sans-serif;
}

.parallax1 {
    background-image: url("../images/parallax1.jpg");

    height: 768px; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	position: relative;
    text-align: center;
    color: #006a66;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	font-size: 300%;
}

.parallax2 {
    background-image: url("../images/macchiato.jpg");

    height: 384px; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    background-image: url("../images/parallax5.jpg");

    height: 384px; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-image {
	margin: 0 20px 20px 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #dcece9;
  z-index: 10;
}

.center-block {
	display: table;
	margin: auto;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	text-decoration-color: #006a66;
}

h1 {
	color: #006a66;
}

h2 {
	margin-top: 80px;
	text-align: center;
	color: #006a66;
}

p {
	font-size: 120%;
}

footer {
	background-color: #dcece9;
	border-top: 4px solid #006a66;
	padding: 30px;
	color: #006a66;
}

h3 {
	color: #006a66;
}

h4 {
	background-color: #71bbac;
	width: 300px;
	text-align: center;
	color: #006a66;
	margin-top: 40px;
	padding: 25px;
	position: relative;
	top: 0px;
}

.zoom {
	transition: transform .2s;
}

.zoom:hover {
	transform: scale(1.5) translateY(-18px);
}

#trivia-text {
	padding: 25px;
}

#wightswork-text {
	padding: 26px;
}

#ff-text {
	padding: 29px
}

#newsscrape-text {
	padding: 21px;
}

.custom-btn {
	background-color: #4aaaa5;
}
/* added to turn off parallax scrolling for phones and tablets */
@media only screen and (max-device-width: 768px) {
    .parallax1, .parallax2, .parallax3 {
		background-attachment: scroll;
	}
	#about {
		margin-top: 120px;
	}
}